/*================================================
Default Colors Style
=================================================*/
$primary: #FF5F45;
// #FF5F45
// #FF3823
$optional-color: #A68E74;
$black-color: #020000;
$paragraph: #687693;
$white-color: #ffffff;
$font-size: 16px;
$transition: .6s;

/*================================================
Default Fonts Style
=================================================*/
$main-font-family: 'Inter', sans-serif;
$heading-font-family: 'Josefin Sans', sans-serif;